<h1>Data Driven or Reactive Form</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    Firstname: <input type="text" name="firstname" formControlName="firstname" required ngModel /><br>
    Lastname: <input type="text" name="lastname" formControlName="lastname" required ngModel /><br>
    Email: <input type="email" name="mail" formControlName="email" required ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" /><br>
    <h3>Address</h3>
    Street: <input type="text" name="street" formControlName="street" required ngModel /><br>
    City: <input type="text" name="city" formControlName="city" required ngModel /><br>
    State: <input type="text" name="state" formControlName="state" required ngModel /><br>
    Zip Code: <input type="number" name="zipcode" formControlName="zipcode" required ngModel /><br>
    <input type="submit" value="Submit" [disabled]="!contactForm.valid" />
</form>
<div [hidden]="isHidden">
    <h3>Data and Information</h3>
    {{formValue | json}}
    <!-- <b>Lastname:</b> {{formValue.firstname}}<br>
    <b>Lastname:</b> {{formValue.lastname}}<br>
    <b>Email:</b> {{formValue.email}}<br><br>
    <b>Address</b><br>
    <b>Street:</b> {{formValue.street}}<br>
    <b>City:</b> {{formValue.city}}<br>
    <b>State:</b> {{formValue.state}}<br>
    <b>Zip Code:</b> {{formValue.zipcode}} -->
    </p>
</div>